<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="border: 1px solid #ddd;">
    <a class="navbar-brand" href="#">
        <img src="../../assets/logo-without-bg.png" width="239" height="39" class="d-inline-block align-top" alt="">
    </a>
    <div class="search-bar">
        <div class="input-group">
          <input
            type="text"
            placeholder="Search for questions, articles or members..."
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" id="search-addon">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="actions">
        <button type="button" class="btn" (click)="navigateToCreate()">Create</button>
        <div class="notifications">
          <i class="fas fa-bell"></i>
          <span class="badge">1</span>
        </div>
        <div class="profile">
          <img src="../../assets/profile.png" alt="Profile Picture" />
          
        </div>
      </div>
    </nav>