<div class="community-header">
    <div class="community-banner">
      <img src="../../../assets/background.jpeg" alt="Community Banner" class="banner-image" />
    </div>
    <div class="community-details">
      <img src="../../../assets/reddit.png" alt="Community Logo" class="community-logo" />
      <div class="community-info">
        <h2>{{ communityName }}</h2>
        <p>{{ communityDescription }}</p>
      </div>
      <button 
         
        class="edit-button" 
        (click)="editCommunity()"
      >
        Edit Community
      </button>
    </div>
  </div>
  