<div class="create-community-page">
    <div class="create-community-form">

      <div class="form-group">
        <label for="communityName">Community name</label>
        <input type="text" id="communityName" class="form-control" placeholder="Community name*">
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" placeholder="Description*">
      </div>
  
      <div class="form-group">
        <label for="communityIcon">Community Icon</label>
        <input type="file" id="communityIcon" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="communityBanner">Community Banner</label>
        <input type="file" id="communityBanner" class="form-control">
      </div>
  
      <div class="topics-container">
        <label>Add topics</label>
        <p>Choose up to 3 topics to help users find you</p>
      
        <div class="topic-grid">
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic1">
              <label class="form-check-label" for="topic1">Machine Learning</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic2">
              <label class="form-check-label" for="topic2">Data Science</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic3">
              <label class="form-check-label" for="topic3">Artificial Intelligence</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic4">
              <label class="form-check-label" for="topic4">Deep Learning</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic5">
              <label class="form-check-label" for="topic5">Computer Vision</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic6">
              <label class="form-check-label" for="topic6">NLP</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic7">
              <label class="form-check-label" for="topic7">Software Engineering</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic8">
              <label class="form-check-label" for="topic8">Web Development</label>
            </div>
          </div>
          <div class="topic-item">
            <div class="form-check">
              <input class="form-check-input topic-checkbox" type="checkbox" id="topic9">
              <label class="form-check-label" for="topic9">Cybersecurity</label>
            </div>
          </div>
        </div>
      </div>
  
      <button type="submit" class="continue-button">Continue</button>
    </div>
  </div>