.menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-item a {
  text-decoration: none;  /* Remove underline */
  color: inherit;  /* Use inherited color for the link */
  display: flex;
  align-items: center;
}

.menu-item .menu-icon {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  color: #0c1844;
}

.menu-item .menu-label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #fffcfc;
}

.menu-item a:hover {
  color: inherit;  /* Prevent link color change on hover */
}
