<div class="post-item" (click)="goToPost(post.id)">
  <div class="post-header">
    <img src={{post.image}} alt="User avatar" />
    <div>
      <span class="username" (click)="goToUserProfile(post.author)">{{ post.author }}</span>
      <span (click)="goToCommunity(post.community)"> posted on <b>{{ post.community }}</b></span>
      <span class="time">{{ post.time }}</span>
    </div>
  </div>
  <div class="post-content">
    <p>{{ post.content }}</p>
    <div class="tags">
      <span *ngFor="let tag of post.tags">{{ tag }}</span>
    </div>
  </div>
  <div class="actions">
    <!-- <button (click)="onUpvote(post)">👍 {{ post.upvotes }}</button> -->
    <button>↑ {{ post.upvotes }}</button>
    <button>↓ {{ post.downvotes }}</button>
    <button>
      {{ post.isSaved ? 'Unsave' : 'Save' }}
    </button>
    <span>{{ post.comments }} comments</span>
  </div>
</div>