<h3 style="margin-top: 20px; color: #c80036;"><b>Top 12 Communities</b></h3>
<p>Browse Academic Hub's largest communities</p>

<div class="community-grid">
  <div *ngFor="let community of topCommunities; let i = index" class="community-card">
    <span class="community-rank">{{ i + 1 }}</span> 
    <a [href]="getCommunityLink(community.name)" target="_blank">
      <div class="community-info" style="color: #0c1844;">
        <span class="community-name">r/{{ community.name }}</span>
        <p class="community-description">{{ community.description }}</p>
      </div>
    </a>
    <span class="member-count">{{ community.memberCount }} members</span>
  </div>
</div>