<app-post-item [post]="post"></app-post-item>
<div class="comments-section">
  <h3>Comments ({{ comments.length }})</h3>
  <div class="comment-input">
    <textarea placeholder="Write your comment..."></textarea>
    <button (click)="addComment()">Submit</button>
  </div>
  <div class="comment" *ngFor="let comment of comments">
    <img src={{comment.image}} alt="User avatar" />
    <div class="comment-content">
      <div>
        <span class="username">{{ comment.author }}</span>
        <span class="time">{{ comment.time }}</span>
      </div>
      <p class="text">{{ comment.text }}</p>
    </div>
  </div>
</div>
  