<div class="left-menu">
  <!-- Top Menu Items -->
  <div *ngFor="let item of menuItems">
    <div class="menu-item" (click)="onMenuItemClick(item.queryParams.filter)">
      <i [class]="item.icon"></i> <span>{{ item.label }}</span>
    </div>
  </div>
  
  <!-- Community Items -->
  <div *ngFor="let menu of communityItem">
    <div class="menu-item" (click)="onCommunityItemClick(menu.route)">
      <i [class]="menu.icon"></i> <span>{{ menu.label }}</span>
    </div>
  </div>

  <!-- Favorite Communities -->
  <h3>My communities</h3>
  <!-- fetch followed communities by the logged in user -->
</div>
