<div class="left-menu">
    <!-- Top Menu Items -->
    <div *ngFor="let menu of menuItems">
      <app-menu-item [icon]="menu.icon" [label]="menu.label" [route]="menu.route" [queryParams]="menu.queryParams"></app-menu-item>
    </div>
  
    <!-- Popular Tags -->
    <h3>Popular tags</h3>
    <app-tag-list [tags]="popularTags"></app-tag-list>
  
    <!-- Favorite Communities -->
    <h3>Favorite communities</h3>
    <app-community-list [communities]="favoriteCommunities"></app-community-list>
</div>
  